[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyyaml = "*"
coolname = "*"
tabulate = "*"
tensorboardx = "*"
runx = "==0.0.6"
torch = "*"
opencv-python = "*"
torchvision = "*"
tqdm = "*"
scikit-image = "*"

[dev-packages]

[requires]
python_version = "3.7"
